/* Theme name: Woof */
@import url('css/normalize.css');
@import url('css/home.css');

#main-all-product{
    display: flex;
    justify-content: center;
}
#all-product{
    width: 70%;
}
#all-filters-paginação{
    display: flex;
    flex-direction: column;
}
#all-product-paginacao{
    display: flex;
    justify-content: center;
}

#show-all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
#show-all-products .info-produto{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#show-all-products .lista-produtos{
    display: flex;
    flex-wrap: wrap;
    width: 22%;
}

#show-all-products .info-produto img{
    width: 100%;
    height: 70%;
}
#show-all-products .info-produto h2{
    padding-top: 10px;
    width: 100%;
    font-size: 12px;
}